.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc-container{
    width: 500px;
    height: 500x;
    text-align: center;
    border-top: 2px;
    box-shadow: 10px 10px 20px ;
}
#display{
    
    height: 20px;
    border: 2px solid;
    padding: 20px 0;
    text-align: right;
    
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    cursor: pointer;
}
.button{
    border: 2px solid ;
    padding: 10px;
    cursor: pointer;
}

